@{
    ViewData["Title"] = "ToDo List";
}
@model IEnumerable<Amz.Core.Handlers.ToDoItems.ToDoItemDto>
<h2>To Do Items (MVC View)</h2>
<ul>
@foreach (var item in Model)
{
    <li>@item.Title<br/>@item.Description</li>
}
</ul>
